body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: rgb(4, 106, 91);
    margin-bottom: 5px;
    margin-top: 20px;
}

.red {
    background-color: red;
    color: white;
}
.orange {
    background-color: orange;
    color: white;
}
.yellow {
    background-color: yellow;
    color: white;
}
.green {
    background-color: green;
    color: white;
}
.blue {
    background-color: blue;
    color: white;
}
.indigo {
    background-color: indigo;
    color: white;
}
.purple {
    background-color: purple;
    color: white;
}
.btn-tricks {
    display: flex;
    justify-content: center;
    margin: 5px 10px;
}
.btn-tricks a {
    width: 80px;
    text-align: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-tricks a:hover {
    background-color: #0056b3;
}
.container {
    display: flex;
    gap: 2px;
    border: 2px;
    border-style:dashed;
    border-width: 2px;
    border-radius: 10px;
    border-color: lightslategrey;
    height: 40vh;
    margin: 10px;
    padding: 10px;
}
.container div {
    height: 50px;
    width: 80px;
    padding-top: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: large;
    border-style:double;
}

.flex-setting {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.flex-setting div {
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    border-radius: 5px;
}
.flex-setting div:hover {
    background-color: rgb(123, 205, 190);
    cursor: pointer;
}
.flex-setting div select {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    border-style:hidden;
    
}
select {
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
#footer {
    color: #777;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width: 720px){
    .flex-setting {
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }
}
