body {
  font-family: "Courier New", Courier, monospace;
  /* background-color: darkgrey; */
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  color: rgb(4, 106, 91);
  margin-bottom: 5px;
  margin-top: 20px;
}
hr {
  margin: 0;
}
.main-container {
  margin: 0px;
}
.red {
  background-color: red;
  color: white;
}
.orange {
  background-color: orange;
  color: white;
}
.yellow {
  background-color: yellow;
  color: white;
}
.green {
  background-color: green;
  color: white;
}
.blue {
  background-color: blue;
  color: white;
}
.indigo {
  background-color: indigo;
  color: white;
}
.purple {
  background-color: purple;
  color: white;
}
.btn-tricks {
  display: flex;
  justify-content: center;
  margin: 5px 10px;
}
.btn-tricks a {
  width: 80px;
  text-align: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn-tricks a:hover {
  background-color: #0056b3;
}
.container {
  display: flex;
  gap: 2px;
  border: 2px;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  border-color: lightslategrey;
  height: 25vh;
  margin: 10px 145px;
  padding: 10px;
}
.container div.yellow {
  color: red;
}
.container div {
  height: 40px;
  width: 40px;
  align-content: center;
  border-radius: 50%;
  text-align: center;
  font-size: large;
  font-style: bold;
}

.flex-setting {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.flex-setting div {
  margin: 5px;
  padding: 5px;
  background-color: bisque;
  border-radius: 5px;
}
.flex-setting div:hover {
  background-color: rgb(123, 205, 190);
  cursor: pointer;
}
.flex-setting div select {
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
  border-style: hidden;
}
select {
  height: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
.footer p {
  color: white;
}
@media (max-width: 720px) {
  .flex-setting {
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
  .container {
    margin: 10px 5px;
  }
}
